.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.project-card { cursor:pointer; }

#project-modal {
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.75);
  z-index:9999;
  align-items:center;
  justify-content:center;
}

#project-modal-content {
  background:#05060f;
  padding:40px;
  border-radius:20px;
  border:1px solid #00ffd5;
}

.close-btn {
  font-size:2rem;
  cursor:pointer;
}
